<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue dischi</title>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <!-- jQuery.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="selection">
        <label for="genere">Scegli un genere:</label>
        <select  name="genere" v-model="pickGenre">
          <option value="default">Pick one</option>
          <option value="pop">Pop</option>
          <option value="jazz">Jazz</option>
          <option value="rock">Rock</option>
          <option value="metal">Metal</option>
        </select>
      </div>
      <div class="flex-row">
        <div class="card" v-for="elem in disc" v-if="elem.genre.toUpperCase() == pickGenre.toUpperCase() || pickGenre == 'default'">
          <img :src="elem.poster" alt="Immagine copertina disco">
          <h2>{{elem.author}}</h2>
          <p>{{elem.title}}</p>
          <p>{{elem.year}}</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
